*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

/* Uso un divisore strutturale perche tanto di h1 ne avremo solo 1 per HTML */
header img, h1 {
    vertical-align: middle;
}

header > h1 {
    display: inline;
}

main {
    width: 70%;
    margin: 0 auto;
    margin-top: 8%;
}

.boxBottoneContainer {
    background-color: aliceblue; 
    padding: 20px 30px; 
    border-top-right-radius: 10px; 
    border-top-left-radius: 10px;
}

.megaContainer{
    padding: 20px 30px;
    background-color: aliceblue;   
    margin-top: 1px;
}

.boxBottone {
    color: black;
    background-color: hwb(204 0% 0% / 0.274);
    width: 80px;
    height: 29px;
    border-radius: 9%;
    text-align: center;
    padding: 6px;
    display: inline-block;
    /*manina sui bottoni*/
    cursor: pointer;
}

.boxBottone.task:hover{
    color: white;
    background-color: rgb(0, 140, 255);
    border-color: rgb(0, 89, 255);
}

.boxBottone.section {
    width: 100px;;
    
}

.boxBottone.section:hover{
    color: white;
    background-color: rgb(0, 140, 255);
    border-color: rgb(0, 89, 255);
} 

section > h4::before {
    content: "⯆";
}

.sectionTask {
    margin-top: 10px;
}

.taskText {
    margin-top: 10px;
    margin-bottom: 10px;
}

.circle {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: inline-block;
    text-align: center;
    line-height: 18px;
}

.circle.check {
    border: 1px solid green;
}
.circle.check::before {
    content: "✔";
}

.circle.mark{
    border: 1px solid red;
}
.circle.mark::before {
    content: "✘";
}

.boxTag {
    background-color: hwb(244 0% 0% / 0.274);
    width: 57px;
    height: 23px;
    border-radius: 50px;
    text-align: center;
    padding: 6px;
    font-size: 11px;
    color: white;
    display: inline-block;
}

.boxTag.editorial {
    background-color: blueviolet;
}

.boxTag.q1Goals {
    background-color: rgba(91, 228, 109, 0.822);
    width: 60px;
}

.boxTag.recruiting{
    background-color: rgba(202, 30, 173, 0.932);
    width: 65px;
}

.boxTag.mobile {
    background-color: #fffb00;
}

.boxTag.schedule {
    background-color: rgba(13, 17, 255, 0.788);
}

.boxTag.website {
    background-color: rgb(255, 47, 47);
}

.boxTag.sales {
    background-color: rgb(33, 190, 218);
}